.post {
    
    width: 100%;
    border-radius: 7px;
    -webkit-box-shadow:0px 1px 0px rgba(0,0,0,0.67);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.67);
    margin: 30px 0;
}
.postWrapper {
    padding: 10px;
}
.topProfileImag{
    width: 35px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topLeft{
    display: flex;
    align-items: center;
}
.postUsername {
    font-weight: 500;
    font-size: 17px;
    margin: 0 10px;
}
.postDate {
    font-size: 12px;
}
.postCenter {
    margin: 20px 0;
}
.postImg {
    margin-top: 20px;
    width: 100%;
    min-height: 500px;
    object-fit: cover;
}
.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomLeft {
    display: flex;
    align-items: center;
}
.likeIcon {
    width: 29px;
    height: 29px;
    margin-right: 5px;
    cursor: pointer;
}
.heartIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}
.postLikecounter {
    font-size: 15px;
}
.postCommentText {
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px dashed #383636;
}