.rightbar {
    flex: 3.5;
    /* background-color: darkcyan; */
    height: 590px;
}
.rightbarWrapper{
    padding: 20px 20px 0 0;
}
.rightImg {
   width: 40px;
   height: 40px;
    padding: 10px;
    align-items: center;  
}
.rightbarContainer{
    display: flex;
}
.rightText {
    font-weight: 400;
    padding: 10px;
    margin-top: 10px;
}
.rightbarAds {
    width: 90%;
    margin: 30px;
    border-radius: 10px;
}
.rightbarInfo{
    width: 350px;
}
.rightbarTitle{
    margin-bottom: 20px;
}
.rightbarFriendsList {
    padding: 0px;
    margin: 0px;
    font-style: none;
}
.rightBarFriends {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;  
}
.rightbarInfo{
    margin-bottom: 30px;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}
.rightbarinfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}
.rightbarinfovalue {
    font-weight: 300;
    color: #555;
}

.rightBarFollowingImg {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}
.rightbarInfoItem {
    display: flex;
}
.rightbarFollowings{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rightBarFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}